{% extends 'admin/base.html.twig' %}

{% block body %}
    {{ include('admin/partials/header.html.twig') }}
    {{ include('admin/partials/aside.html.twig') }}
    {{ include('admin/partials/content.html.twig') }}
    {{ include('admin/partials/footer.html.twig') }}
    <div class="control-sidebar-bg">
    </div>

{% endblock %}

