  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree" style="margin-top:50px;">
         <li>
          <a href="{{ path('admin_dashboard')}}">
            <i class="fa fa-calendar"></i> 
            <span>Dashboard</span>
          </a>
        </li>
        <li>
          <a href="{{ path('admin_job_ownwer')}}">
            <i class="fa fa-calendar"></i> 
            <span>List of Job Owners</span>
          </a>
        </li>
        <li>
          <a href="{{ path('admin_freelancer')}}">
            <i class="fa fa-book">
            </i> 
            <span>List of freelancers </span>
          </a>
        </li>
        <li>
          <a href="{{ path('admin_project')}}">
            <i class="fa fa-book">
            </i> 
            <span>List of projects </span>
          </a>
        </li>
         <li>
          <a href="#">
            <i class="fa fa-book">
            </i> 
            <span>List of tasks </span>
          </a>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>