    <br/>
    <div class="col-md-12">
        <div class="col-md-6">
            <label class="text-success col-md-3">Exam title : </label>
            <label class="text-success col-md-3">{{ titre }}</label>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-6">
            <label class="text-success col-md-3">Your score :  </label>
            <label class="text-success col-md-3">{{ score }}</label>
        </div>

    </div>
